<launch>
  <arg name="robot_id" value="$(optenv ROBOT_ID unnamed_robot)"/>

  <!-- HANGFA DISCOVERY Q2 ROS SPECIFIC PKGS -->
  <include file="$(find sdpo_q2_ros_nav_conf)/launch/drivers/sdpo_q2_ros_driver/run_sdpo_q2_ros_driver.launch"/>
  <include file="$(find sdpo_q2_ros_nav_conf)/launch/drivers/sdpo_driver_omnijoy/run_sdpo_driver_omnijoy_logif710.launch"/>
  <include file="$(find sdpo_q2_ros_nav_conf)/launch/localization/sdpo_ros_odom/run_sdpo_ros_odom_wh.launch"/>

  <!-- RVIZ -->
  <group ns="$(arg robot_id)">
    <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find pileec2223_driver_laser_2d)/config/rviz.rviz"
        clear_params="true" output="$(optenv ROBOT_OUTPUT screen)">
    </node>
  </group>

  <!-- CORRECT LASER DATA -->
  <group ns="$(arg robot_id)">
    <node pkg="pileec2223_driver_laser_2d" type="correct_laser_data"
        name="correct_laser_data" clear_params="true"
        output="$(optenv ROBOT_OUTPUT screen)">
      <rosparam command="load" subst_value="True"
          file="$(find pileec2223_driver_laser_2d)/config/YDLIDARX4.yaml"/>
      <rosparam command="load" subst_value="True"
          file="$(find pileec2223_driver_laser_2d)/config/pileec2223_driver_laser_2d.yaml"/>
    </node>
  </group>
</launch>
